.actions {
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 10px;
}
.container {
    display: flex;
    gap: 10px;
    align-items: center;
}
.sort {
    font-size: 15px;
}
.search {
    font-size: 15px;
    height: 100%;
}
