.container {
    padding: 10px 16px;
}
.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    &__input {
        padding: 5px 10px;
        font-size: 18px;
    }
    &__button {
        font-size: 18px;
    }
}